* {
  /* border: 2px solid red; */
  padding: 0px;
}

/* body,
html {
  height: 100%;
  width: 100%;
} */

body {
  height: 100%;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F1F1F1;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 22%;
  /* background-color: #164e63; */
}

.logo {
  font-size: 16px;
}

.sign-in-button {
  background-color: #0284c7;
  padding: 9px;
  border-radius: 5px;
}

.welcome-traveler {
  font-size: 38px;
  text-align: center;
  /* margin: auto; */
}

.traveler-expense-section {
  width: 16%;
  /* height: 14%; */
  margin-bottom: 55px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
  padding: 8px;
  border-radius: 7px;
  border: solid #94a3b8 1px;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between; */
}

.expense-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-expense {
  font-size: 18px;
  align-self: flex-start;
  font-size: 16px;
}

.total-expense {
  font-size: 34px;
}

.footnote-expense {
  font-size: 12px;
}

/* .header-trips {
  text-align: center;
} */

.filter-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.filter-button {
  background-color: #0ea5e9;
  padding: 4px;
  border-radius: 4px;
}

.filter-button:hover {
  background-color: #0369a1;
}

.trip-widget-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.trip-widget {
  width: 52%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
}

.trip-image-container {
  width: 100%;
}

.trip-image {
  width: 100%;
  object-fit: contain;
  border-radius: 18px;
}

.trip-details-container {
  border: solid #cbd5e1 1px;
  /* border-radius: 18px; */
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-top: -20px;
  padding: 7px;
}

.trip-destination {
  margin-bottom: 0;
}

.trip-details {
  display: flex;
  /* margin-bottom: 2px; */
}

.trip-detail-title {
  margin-right: 4px;
}
