* {
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F1F1F1;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 22%;
}

.logo {
  font-size: 16px;
}

.traveler-info-section {
  display: flex;
  flex-direction: column;
}

.welcome-traveler {
  font-size: 38px;
  text-align: center;
  margin-bottom: 69px;
}

.expense-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
  padding: 8px;
  border-radius: 7px;
  border: solid #94a3b8 1px;
}

.trip-request-btn-container {
  display: flex;
  justify-content: center;
}

.title-expense {
  font-size: 18px;
}

.total-expense {
  font-size: 34px;
}

.footnote-expense {
  font-size: 12px;
}

.filter-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.filter-button {
  background-color: rgb(250 250 249);
  padding: 7px;
  border-radius: 4px;
}

.filter-button:hover {
  background-color: #818cf8;
}

.trip-widget-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.trip-widget {
  width: 90%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
  border-radius: 18px;
}

.trip-image-container {
  width: 100%;
}

.trip-image {
  width: 100%;
  object-fit: contain;
  border-radius: 18px;
}

.trip-details-container {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  /* margin-top: -20px; */
  padding: 7px;
}

.trip-destination {
  margin-bottom: 5px;
}

.trip-details {
  display: flex;
}

.trip-detail-title {
  margin-right: 4px;
}

.trip-details p {
  margin: 2px;
}

.traveler-form-section {
  display: flex;
  justify-content: center;
}

.traveler-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: black solid 1px;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
}

.travel-form-title {
  text-align: center;
}

.traveler-input,
.destination-list {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.submit-trip-btn,
.return-btn,
.trip-request-btn,
.estimate-cost-btn,
.sign-in-button {
  width: 30%;
  padding: 8px;
  align-self: center;
  margin: 4px 0;
  border-radius: 21px;
  background-color: #818cf8;
  font-weight: 400;
  font-size: 17px;
}

.trip-request-btn {
  width: 16%;
}

.sign-in-button {
  width: 5%;
}

.return-btn,
.estimate-cost-btn {
  width: 60%;
}

.hidden {
  display: none;
}
