* {
  padding: 0px;
  font-family: 'Cardo', serif;
  font-weight: 400;
}

body {
  height: 100%;
  /* width: 100%; */
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F1F1F1;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 22%;
}

.traveler-trips-section {
  width: 75em;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.logo {
  font-size: 18px;
  font-family: 'Kaushan Script', cursive;
}

/* .traveler-info-section {
  display: flex;
  flex-direction: column;
} */

.welcome-traveler,
.travel-form-title,
.title-expense,
.header-trips,
.log-in-title,
.trip-destination,
button {
  font-weight: 700;
}

.welcome-traveler {
  font-size: 38px;
  text-align: center;
  margin-bottom: 69px;
}

.traveler-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.expense-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 55px; */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
  padding: 10px;
  border-radius: 7px;
}

/* .trip-request-btn-container {
  display: flex;
  justify-content: center;
} */

.title-expense {
  font-size: 18px;
  margin-top: 7px;
}

.total-expense {
  font-size: 34px;
}

.footnote-expense {
  font-size: 12px;
}

.filter-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 90px 60px 40px;
}

.filter-button {
  background-color: rgb(250 250 249);
  padding: 12px;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #818cf8;
}

.trip-widget-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  /* margin-top: 30px; */
}

.trip-widget {
  width: 90%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
  border-radius: 18px;
}

.trip-image-container {
  width: 100%;
  height: 14em;
}

.trip-image {
  width: 100%;
  height: 14em;
  object-fit: cover;
  border-radius: 18px;
}

.trip-details-container {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 7px;
}

.trip-destination {
  margin-bottom: 5px;
}

.trip-details {
  display: flex;
}

.trip-detail-title {
  margin-right: 4px;
}

.trip-details p {
  margin: 2px;
}

.traveler-form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.traveler-form {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  border-radius: 42px;
  padding: 22px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
}

.travel-form-flex {
  display: flex;
  justify-content: center;
}

.travel-form-container {
  display: flex;
}

.travel-form-title {
 text-align: center;
 margin-top: 5px;
}

.traveler-request-flex {
  display: flex;
  flex-direction: column;
}

.traveler-request-flex label,
.log-in-form label {
  margin-bottom: 7px;
}

.num-traveler-input,
.duration-input {
  width: 6em;
}

.destination-list {
  width: 12em;
}

.travel-form-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.traveler-input,
.log-in-input {
  padding: 10px;
  border-radius: 5px;
}

.traveler-input {
  margin-right: 26px;
}

.log-in-input {
  margin-bottom: 10px;
}

.submit-trip-btn,
.estimate-cost-btn,
.sign-out-button,
.log-in-btn {
  width: 30%;
  padding: 8px;
  align-self: center;
  margin: 4px 0;
  border-radius: 21px;
  background-color: #818cf8;
  font-weight: 400;
  font-size: 17px;
}

.estimate-cost-btn,
.submit-trip-btn {
  width: 20%;
  margin: 7px 30px;
}

.sign-out-button {
  width: 10%;
}

.log-in-section {
  justify-content: center;
  display: flex;

}

.log-in-form {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
}

.log-in-title {
  text-align: center;
}

.log-in-btn {
  width: 48%;
}

.hidden {
  display: none;
}

/* .background-img-container {
  width: 90%;
  height: 22em;
  margin: auto;
}

.background-img {
  width: 90%;
  height: 22em;
} */
